

<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1 id = "homeGap" >Find an<br/>INTERNSHIP<br>to suit you.</h1>
					<button type="button" class="btn btn-warning btn-lg"><a href="/resultsPage">Start your Search!</a></button>					
				</div>
				<div class="col-lg-6">
					<img class="img-responsive" src="/images/3.png" alt="">
				</div>
				
			</div>
		</div>
	</div>
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Your Future<br/>Starts Here.</h1>
				<h3>Internships are a vital part of todays job market, make sure you stand out from the crowd.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="/images/exp.jpg" width="300" alt="">
				<h3>Gain Experience!</h3>
				<p>Get the experience you need to find your dream job.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="/images/skills.png" width="180" alt="">
				<h3>Develop skills!</h3>
				<p>Show employers you have real world skills.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="/images/cash.png" width="190" alt="">
				<h3>Earn Money!</h3>
				<p>Be rewarded while you learn.</p>
			</div><!--/col-lg-4 -->
			
		</div><!-- /row -->
	</div><!-- /container -->
	
			
	<hr>
		<div class="container" align = "center">
			
				<div class="row mt centered">
					<form id="contactform" class="form-horizontal" action="https:formspree.io/internapp11@gmail.com" method="post">
						<table align = "center" cellpadding="10">
								<tr>
									<td>
										<h2 align = "center">Send us a message,</h2>
									</td>
								</tr>
								<tr>
									<td>
										<div class ="form-group" align = "center">
											<label for="user-name" >Name:</label>
											<input type="text" class="form-control" id="target1" name="user-name" placeholder="Enter your name" required="">
										</div>
								
									</td>
									<td rowspan = 3 >
										<div class="form-group" align = "bottom">
											<input type ="submit" id="send" class="btn btn-warning btn-smc" value="Send">
										</div>
									</td>
								</tr>
								<tr>
									<td valign=middle>
										<div class="form-group" align = "center">
											<label for="user-email" >Email:</label>
											<input type="text" class="form-control" id="target2" name="user-email" placeholder="Enter your email address" required="">
										</div>
									</td>
								</tr>
								<tr>
									<td valign=middle>
										<div class="from-group" align = "center">
											<label for="user-email" >Message:</label>
											<input type="text"  class="form-control" id="target3" name="user-message" placeholder="Enter your message here" required="">
										</div>
									</td>
								</tr>
						</table>
					</div>
				 </form>
			</div>
		</div>
	<hr>
		
	<p class="centered">Unity</p>
</div><!-- /container -->
</body>
