<div class="col-md-8 col-md-offset-2">
    <h2>Register a new account</h2>
	<table width = "100%">
		<form class="form-horizontal" role="form" id="reg-form">
		<tr>
			<td>
				<div class="form-group mt">
					<div class="col-sm-10 col-sm">
						<div class="col-sm-3">
							<label for="inputUsername" class="control-label">Username</label>
						</div>
						<div class="col-sm">
							<input type="text" class="form-control input-lg required" id="inputUsername" placeholder="@username">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm">
						<div class="col-sm-3">
							<label for="inputPassword" class="control-label">Password</label>
						</div>
						<div class="col-sm">
							<input type="password" class="form-control input-lg required" id="inputPassword"
							   placeholder="Password">
						</div>
					</div>
				</div>
			</td>
			<td>
				<div>
					<div class="col-sm col-sm-10 mt">
						<div>
							<label>Register with google:</label>
						</div>
							
						<div id="my-signin2">
						</div>
					</div>	
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="form-group">
					<div class="col-sm col-sm-10 mt">
						<button type="submit" class="btn btn-warning btn-lg">Login</button>	
					</div>	
				</div>
			</td>
		<tr>
		</form>
	<table>
</div>

<meta name="google-signin-client_id" content="41431281257-14i91uhtd91kjuiuarv033v7bn5jvnkg.apps.googleusercontent.com">

<script>
	function onSignIn(googleUser) {
		var profile = googleUser.getBasicProfile();
		console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		console.log('Name: ' + profile.getName());
		console.log('Image URL: ' + profile.getImageUrl());
		console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		var id_token = googleUser.getAuthResponse().id_token;
	};
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSignIn,
        'onfailure': onFailure
      });
    }
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
		console.log('User signed out.');
    });
  }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
