
<div >
	<div class="col-lg-3">
		<form id = "formTest">
			<table>
				<th>Search for an internship:</th>
				<tr>
					<td>
						<h4>Choose a Course</h4>
						<select class="form-control" id = "courseInput">
						<option value="Computer Science">Computer Science</option>
						<option value="Commerce">Commerce</option>
						<option value="Engineering">Engineering</option>
						<option value="Science">Science</option>
						</select>
						<h4>Choose a year</h4>
						<select class="form-control" id = "yearInput">
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option selected="selected" value="3rd">3rd</option>
						<option value="4th">4th</option>
						</select>
						<h4>Choose a Location</h4>
						<select class="form-control" id = "locationInput">
						<option value="Galway">Galway</option>
						<option value="Dublin">Dublin</option>
						<option value="Cork">Cork</option>
						</select>
						<br>
						<button type="text" class="btn btn-warning btn-lg" id = "buttonTest" align = "center">Search</button>
						<br><br>
						<button type="text" class="btn btn-warning btn-lg" id = "allTest" align = "center">View All</button>
					</td>
					<td width = "5%">
					</td>
				</tr>
				
			</table>
		</form>
	</div>
</div>

<br><br>

<div>
	<div id = "companyPosts"  class="col-lg-9">
	</div>
</div>